<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/asserts/style.css">
</head>
<body>
    <h1>This is the Personal Website of <%= person %> </h1>
    <p>Lorem, ipsum Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil cum iure nobis tenetur doloremque quia, iusto aliquid, ab quae delectus et voluptas, tempora quam ratione recusandae magnam inventore fuga in commodi optio consequatur voluptatem nostrum. Aliquid officiis non sapiente quae, fugiat facilis itaque perspiciatis nulla rerum repellat similique eius quaerat culpa expedita exercitationem quos eaque maxime, quia inventore repudiandae enim provident. Cum quam earum ut modi provident pariatur labore aspernatur odio placeat eaque ipsam, laborum error recusandae ipsa et saepe amet expedita delectus voluptatibus quae quidem id voluptatum, beatae consectetur. Officiis vero praesentium natus nemo commodi facere alias aliquam quod.dolor sit amet consectetur adipisicing elit. Voluptatum soluta officia amet pariatur id deleniti velit eos omnis corrupti, possimus dolor tempore molestiae quas harum! Est ad amet molestias quo voluptates autem quas deleniti soluta alias? Aperiam repellat ducimus consequatur pariatur facere quidem harum, autem eum, culpa ex aliquid vitae?</p>

</body>
</html>